body { 
	background-image: url(../AbstractBackground.svg);
	background-repeat: no-repeat;
	background-attachement: fixed;
	background-size: cover;
}

p {
    color: white; 
	background-color: rgba(255,255,255,0.3);
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    float: none;
    padding: 10px;
	margin-left: 205px;
	margin-right: 50px; 
	line-height: 1.5;
	postion: relative;
}

#wrapper {
    
    width: 1000px;
}

#content {
    
    float: left;
    width: 850px;
	background-color: rgba(255,255,255,0.3); 
	position: relative;
	
}

#leftcolumn {
    
	color: white;
    width: 150px;
    float: left;
    height: 1000px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.3;
	text-align: center;
	margin-left: 20px;
	position: relative;
}

h1, h2, h3, h4 {
    color: white;
	background-color: rgba(255,255,255,0.3);
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
    margin-right: 50px;
    margin-left: 205px;
	position: relative;
} 

img {
	
    position: relative;
    display: block;    
    margin: auto;
}

a {
	
    color: white;
}

.space {

	background-color: rgba(255,255,255,0);
}
