body { 
	background-image: url(../AbstractBackground.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
} 

p {
    color: white; 
	background-color: rgba(255,255,255,0.3); 
    font-size: 26px;
    font-family: 'Montserrat', sans-serif; 
    text-align: left; 
    float: none; 
    padding: 10px;
	margin-left: 205px;
	margin-right: 50px; 
	line-height: 1.5; 
}

#wrapper {
    
    width: 1000px;
}

#content {
    
    float: left;
    width: 850px;
	background-color: rgba(255,255,255,0.3); 
	position: relative;
	
}

#leftcolumn {
    
	color: white;
    width: 150px;
    float: left;
    height: 1000px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.3;
	text-align: center;
	margin-left: 20px;
	position: fixed;
}

h1 {
    color: white;
	background-color: rgba(255,255,255,0.3);
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
    margin-right: 50px;
    margin-left: 205px;
} 
h2 {
	color: white;
	background-color: rgba(255,255,255,0.3);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	margin-right: 50px;
	margin-left: 205px;
}
h3 {
	color: white;
	background-color: rgba(255,255,255,0.3);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	margin-right: 50px;
	margin-left: 205px;
}
h4 {
	color: white;
	background-color: rgba(255,255,255,0.3);
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-right: 50px;
	margin-left: 205px;
}

img {
	position: relative;
	margin: auto;
	display: block;
}

a {
	
    color: white;
}

.space {

	background-color: rgba(255,255,255,0);
}
.java {
	color: white; 
	background-color: rgba(255,255,255,0.3); 
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    float: none;
    padding: 10px;
	margin-left: 205px;
	margin-right: 50px; 
	line-height: 1.5;
}
script, form {
		color: white; 
	background-color: rgba(255,255,255,0.3); 
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    float: none;
    padding: 10px;
	margin-left: 205px;
	margin-right: 50px; 
	line-height: 1.5;
}
#elements {
	margin-left: 205px;
	margin-right: 50px;
	text-align: center;
}
#canvas-container {
   text-align:center;
	margin-left: 205px;
	margin-right: 50px;
}

canvas {
   display: inline;
}

.center {
    color: white; 
	background-color: rgba(255,255,255,0.3); 
    font-size: 26px;
    font-family: 'Montserrat', sans-serif; 
    text-align: center; 
    float: none; 
    padding: 10px;
	margin-left: 205px;
	margin-right: 50px; 
	line-height: 1.5; 	
